{
  "extends": "devine/react",
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "max-len": ["error", 100],
    "babel/object-curly-spacing": ["error", "always"],
    "react/jsx-handler-names": "off",
  }
}
